h1 {
    font-family: "CrimsonPro";
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #ffff;
    padding: 8px;
    width: 103px;

}