body {
    margin: 0;
    background-color: #181719;
    color: #fff;
    padding: 1rem;
    border-bottom: 1px solid #ffff;
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}