@font-face {
    font-style: normal;
    font-family: "CrimsonPro";
    src: local("CrimsonPro"),
         local("CrimsonPro"),
         url('../fonts/CrimsonPro.woff2') format('woff2'),
         url('../fonts/CrimsonPro.woff') format('woff');
  }
  @font-face {
    font-style: normal;
    font-family: "Lora";
    src: local("Lora"),
         local("Lora"),
         url('../fonts/Lora.woff2') format('woff2'),
         url('../fonts/Lora.woff') format('woff');
  }
  @font-face {
    font-style: normal;
    font-family:"Montserrat";
    src: local("Montserrat"),
         local("Montserrat"),
         url('../fonts/Montserrat-Regular.woff2') format('woff2'),
         url('../fonts/Montserrat-Regular.woff') format('woff');
  }
