footer {
    text-align: center;
    padding: 1rem;
}
footer > span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;

}
@media (min-width: 1114px) {
    footer {
        margin-top: 50%;
    }
}