footer {
    text-align: center;
}
footer > span {
    padding: 1rem;
    margin-top: 2rem;
    border-top: 1px solid #ffff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
}