.masthead {
    margin-bottom: 3rem;
}
h2 {
    font-family: "Lora";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
}
.masthead__info {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    width: 250px;
    height: 85px;
}
.article__release__date {
    font-family: "Lora";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

}
.masthead__post {
    background-image: url("../img/arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: top 50% right 10%;
} 

.masthead__post__link {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ffff;
    padding-right: 3rem;
}
@media (min-width: 1114px) {
    .masthead {
        margin-top: 195px;
    }
    h2 {
        font-size: 48px;
    }
    .masthead__info {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        width: 410px;
        height: 145px;
    }
    .masthead__post__link {
        font-size: 18px;
        line-height: 22px;
    }
}