h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
}
.masthead__info {
    font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
}
.masthead__post__link::after {
    content: url("../img/arrow-icon.svg");
} 