h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
}
.masthead__info {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.masthead__post__link::after {
    content: url("../img/arrow-icon.svg");
} 
.article__post {
    position: relative;
    top: -60px;
    background-color: black;
    margin-left: 60px;
    margin-right: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.article__post__designer {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.article__designer_profile {
    width: 30%;
    border-radius: 50%;
}
.article__designer_about {
    display: flex;
    flex-direction: column;
}
.article__release__date {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    padding: 1rem;
    margin: 0;
}
.article__designer_profession {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #828282;
    padding-top: 0.5rem;
}